name: Build/Test/Publish

permissions:
  checks: write

on:
  push:
    branches: ["*"]
  pull_request:
    branches: [master]

  # Schedule on first day of each month to prevent all artifacts removal due to 90 days of retention.
  schedule:
    - cron: "0 0 1 * *"

  # Allows you to run this workflow manually from the Actions tab.
  workflow_dispatch:

defaults:
  run:
    shell: powershell

jobs:
  report-version-info:
    name: Report Version Info
    runs-on: windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          lfs: true
          fetch-depth: 0

      - name: Report version info to workflow summary
        run: |
          Import-Module -Name .\scripts\modules\Version.psm1 -Force
          $version = Get-BuildVersion
          Add-Content -Path $env:GITHUB_STEP_SUMMARY -Value "Build Version: ``$version``"

  build-and-test:
    name: Build & Test
    needs: report-version-info
    runs-on: windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          lfs: true
          fetch-depth: 0

      - name: Set up .NET SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 6.0.x

      - name: Build solution
        run: dotnet build Geisha.sln --configuration Debug

      - name: Install Scream virtual audio device
        uses: ./.github/actions/install-virtual-audio-device

      - name: Execute tests
        env:
          GEISHA_TEST_ENABLE_IMAGE_TOLERANCE: "1"
        run: dotnet test Geisha.sln --configuration Debug --no-build --logger "trx;LogFileName=test-results.trx"

      - name: Publish test results
        uses: dorny/test-reporter@v1
        if: success() || failure()
        with:
          name: Test Results
          path: test/**/test-results.trx
          reporter: dotnet-trx

      - name: Upload test output as artifact
        if: success() || failure()
        uses: actions/upload-artifact@v4
        with:
          name: test-output
          path: test/Geisha.Engine.IntegrationTests/bin/**/Rendering/TestOutput/**

  publish:
    name: Publish
    needs: build-and-test
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          lfs: true
          fetch-depth: 0

      - name: Set up .NET SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 6.0.x

      - name: Publish solution
        run: |
          Import-Module -Name .\scripts\modules\Version.psm1 -Force
          $version = Get-BuildVersion
          $fileVersion = Get-BuildFileVersion
          dotnet publish Geisha.sln --configuration Release -p:Version=$version -p:FileVersion=$fileVersion

      - name: Prepare SDK package
        run: .\scripts\workflow\prepare-sdk-package.ps1

      - name: Upload SDK package as artifact
        uses: actions/upload-artifact@v4
        with:
          name: sdk-package
          path: GeishaSDK*.zip

      - name: Prepare Demo App package
        run: .\scripts\workflow\prepare-demo-app-package.ps1

      - name: Upload Demo App package as artifact
        uses: actions/upload-artifact@v4
        with:
          name: demo-app
          path: Geisha.Demo*.zip

      - name: Prepare Benchmark App package
        run: .\scripts\workflow\prepare-benchmark-app-package.ps1

      - name: Upload Benchmark App package as artifact
        uses: actions/upload-artifact@v4
        with:
          name: benchmark-app
          path: Geisha.Benchmark*.zip

  benchmark-preformance:
    name: Benchmark Performance
    needs: publish
    runs-on: windows-latest
    if: github.ref == 'refs/heads/master' || github.event_name == 'pull_request'

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          lfs: true

      - name: Download benchmark binaries from current build
        uses: actions/download-artifact@v4
        with:
          name: benchmark-app
          path: benchmark-app\current

      - name: Unpack benchmark binaries from current build
        run: |
          cd benchmark-app\current
          Expand-Archive -Path .\Geisha.Benchmark.*.zip
          cd Geisha.Benchmark.*\
          cat .\.version

      - name: Download benchmark binaries from latest master build
        uses: dawidd6/action-download-artifact@v9
        with:
          workflow: build-test-publish.yml
          workflow_conclusion: success
          branch: master
          name: benchmark-app
          path: benchmark-app\master

      - name: Unpack benchmark binaries from latest master build
        run: |
          cd benchmark-app\master
          Expand-Archive -Path .\Geisha.Benchmark.*.zip
          cd Geisha.Benchmark.*\
          cat .\.version

      - name: Install Scream virtual audio device
        uses: ./.github/actions/install-virtual-audio-device

      # - name: Execute performance benchmarks (current 1)
      #   run: |
      #     cd benchmark-app\current\Geisha.Benchmark.*\
      #     .\Geisha.Benchmark.exe 2>&1 | Out-Default

      # - name: Execute performance benchmarks (master 1)
      #   run: |
      #     cd benchmark-app\master\Geisha.Benchmark.*\
      #     .\Geisha.Benchmark.exe 2>&1 | Out-Default

      # - name: Execute performance benchmarks (current 2)
      #   run: |
      #     cd benchmark-app\current\Geisha.Benchmark.*\
      #     .\Geisha.Benchmark.exe 2>&1 | Out-Default

      # - name: Execute performance benchmarks (master 2)
      #   run: |
      #     cd benchmark-app\master\Geisha.Benchmark.*\
      #     .\Geisha.Benchmark.exe 2>&1 | Out-Default

      - name: Publish benchmark results
        run: |
          $prSha = "${{github.event.pull_request.head.sha}}"
          $commitSha = "${{ github.sha }}"
          if ($prSha) { $headSha = $prSha } else { $headSha = $commitSha }
          .\scripts\workflow\publish-benchmark-results.ps1 $headSha ${{ secrets.GITHUB_TOKEN }}
